<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>소개팅 종합평가</title>
  <link rel="stylesheet" th:href="@{/css/analyze.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>


<div th:replace="~{navbar :: navbar}"></div>

<!-- 소개팅 횟수 -->
<div class="intro-count">소개팅 횟수 : <span th:text="${dto.count + '회'}"></span></div>

<main class="analyze-layout">
  <div class="card-title">분석 평가</div>
  <div class="score" th:text="${dto.score + '점'}">88점</div>

  <div class="oneLiner" th:utext="${dto.oneLiner}">아주 훌륭해요! 자신감을 가지세요!</div>

  <div class="analyze-card">
    <div class="card-subtitle">종합 분석</div>
    <div class="analyze" th:utext="${dto.analyze}"></div>
    <p class="notice-text">※ 분석 평가는 일회성으로 제공되며, 저장되지 않습니다.</p>
    <a th:href="@{/mypage}" class="out-button">나가기</a>
  </div>


</main>
</body>
</html>
