<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <link rel="stylesheet" th:href="@{/css/mypage.css}" />
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <script th:src="@{/js/mypage.js}" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">

  <div class="profile-header-section">
    <div class="profile-image-area">
      <img id="profileImagePreview"
           th:src="${userInfo.profileImg != null and !userInfo.profileImg.isEmpty() ? userInfo.profileImg : '/images/default_profile.png'}"
           alt="프로필 사진"
           class="profile-image-rect">
    </div>
    <div class="profile-info-area">
      <p class="profile-name">
        <span th:text="${userInfo.nickName}"></span>
        <span th:if="${userInfo.gender != null}">
            <span th:text="${userInfo.gender== 'MALE' ? '남자' : (userInfo.gender == 'FEMALE' ? '여자' : '')}"></span>
        </span>
      </p>
      <p class="profile-text" th:text="${userInfo.email}"></p>
      <p class="profile-text" th:text="${userInfo.dateOfBirth}"></p>

      <p class="profile-text" th:if="${userInfo.preferArea != null}">
        <span th:text="${userInfo.preferArea}"></span>
      </p>
      <p class="profile-text" th:if="${userInfo.preferAreaDetail != null and !userInfo.preferAreaDetail.isEmpty()}">
        <span th:text="${userInfo.preferAreaDetail}"></span>
      </p>
    </div>
    <div class="button-group">
      <a th:href="@{/profile/edit}" class="edit-btn">프로필 수정</a>
      <a th:href="@{/analyze}" class="analyze-btn" id="analyze-btn" th:attr="data-count=${partnerCount}">종합 분석 평가</a>

      <!-- 구현 후 코드 수정 필요 -->
      <a th:href="@{/}" class="edit-btn">매칭 서비스</a>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="section-title">소개팅 상대 <span th:text="'(' + ${feedbackCount} + '회)'"></span>
    </div>
    <div class="card-list">
      <a th:each="partner : ${partnerList}"
         th:href="@{'/chat/' + ${partner.chatId} + '/feedback'}">
        <img th:src="${partner.imageUrl != null and !partner.imageUrl.isEmpty() ? partner.imageUrl : '/images/default_profile.png'}" alt="코스 썸네일" class="clickable-card">
      </a>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="section-title">나의 데이트 코스</div>
    <div class="card-list">
      <a th:each="course : ${recommendList}" th:href="@{'/recommendplace/' + ${course.courseId}}">
        <img th:src="${course.imageUrl != null and !course.imageUrl.isEmpty() ? course.imageUrl : '/images/default-date-img.png'}" alt="코스 썸네일" class="clickable-card">
      </a>
    </div>
  </div>

</div>

</body>
</html>