.profile-header-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    padding-left: 20px;
}

.profile-image-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.profile-image-rect {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.hidden-input {
    display: none;
}

.btn-pink-outline {
    background-color: #FF78A5;
    color: #ffffff;
    border: #FF78A5;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-pink-outline:hover {
    background-color: #e86492;
    color: #ffffff;
    border-color: #e86492;
}

.profile-info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.profile-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 3px;
}

#withdrawBtn {
    border-color: #000000;
    color: #000000;
}

#withdrawBtn:hover {
    background-color: #F4F4F4;
    color: black;
}